<h1>Create a New Drone</h1>
<form action="/drones/create" method="POST">
    <div class="form-group">
        <label for="name">Drone Name:</label>
        <input type="text" name="name" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="propellers">Number of Propellers:</label>
        <input type="number" name="propellers" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="maxSpeed">Max Speed (m/s):</label>
        <input type="number" name="maxSpeed" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Create Drone</button>
</form>
